* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg_img {
  background-image: url("../asset/images/header-img.png");
  height: 120vh;
  background-size: cover;
  background-position: top;
}
.dick{
    width: 37%;
}
.heading{
    width: 30%;
}
