* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: #FFFFFF;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(199, 233, 255, 1) 100%);
}

.bg_color {
  background-color: #f5f5f5;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
input::placeholder{
  color: #6c757d;
  font-weight: 500;
}
.width{
  max-width: 300px ;
}

